<mat-card style="background-color: sandybrown;">School&nbsp;Managament&nbsp;System
 
<button style="margin-left: 904px;" (click) = "logout()">Logout</button>
</mat-card>
<mat-card style="margin-right: 1140px;padding-bottom: 150px;text-align: center;background-color:lightblue;">
   <mat-card>
       Hi - {{userName}}
   </mat-card>
    <div style="margin-top: 72px;">
       <a routerLink = "/dashboard">Dashboard</a>
   </div>
   <div style="margin-top: 32px;">
       <a routerLink = "/search">Search/Hepl Disk</a> 
</div>
   <div style="margin-top: 32px;">
       <a routerLink = "/staff">Staff</a>  
   </div>
   <div style="margin-top: 32px;">
       <a routerLink ="/student">Student</a>
   </div>
   
</mat-card>
<router-outlet></router-outlet>