<mat-card style="margin-left: 235px;margin-top: -467px;margin-right: 20px;">
   
    Search &nbsp;&nbsp;&nbsp;
     <input type="text" name="" id=""> &nbsp;&nbsp;&nbsp;
    <button><a routerLink = "/addstaff">Add Staff</a></button>
    <br>
  <div>
      <!--Table-->
<table class="table table-striped w-auto">

    <!--Table head-->
    <thead>
      <tr>
        <th>#</th>
        <th>SatffName</th>
        <th>DOB</th>
        <th>Subjects</th>
        <th>PhoneNo</th>
        <th>Eamil</th>
        <th>Gender</th>
        
        <th>Action</th>
      </tr>
    </thead>
    <!--Table head-->
  
    <!--Table body-->
    <tbody>
      <tr class="table-info">
       
        <th scope="row">1</th>
        <td>Kate</td>
        <td>Moss</td>
        <td>USA</td>
        <td>New York City</td>
        <td>Web Designer</td>
        <td>23</td>
        
      </tr>
      
      
    </tbody>
    <!--Table body-->
  
  
  </table>
  <!--Table-->
  </div>
</mat-card>
<router-outlet></router-outlet>
